﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        <meta name="author" content="Ivan Contreras - Jorge Galan" />
</head>
    <body>
        @RenderBody()
    </body>
</html>
