﻿@model PruebasUnitarias.Mvc.ViewModel.Producto.ProductosViewModel

@{
    ViewBag.Title = "Listar Productos";
}

<div class="row">
    <div class="col-md-6 centerTable">
        <div class="panel panel-default">
            <div class="panel-heading headerSize">
                Inventario de Productos
            </div>
            <div class="panel-body">
                @if (TempData["MensajeRespuesta"] != null)
                {
                    <div class="alert alert-info" id="msgRespuesta">
                        @TempData["MensajeRespuesta"]
                    </div>
                }
                @if (Model.LstProductosDto.Count > 0)
                {
                    <div class="table-responsive" id="tableProductos">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Descripción</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.LstProductosDto)
                            {
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td>@item.CategoriaDto.Nombre</td>
                                    <td>@item.Precio</td>
                                    <td>@item.Cantidad</td>
                                    <td>@item.Descripcion</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-info" id="msgProductosExistentes">
                        No existen Productos Registrados.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
